<% flash.each do |name, msg| %>
  <div class="alert alert-dismissable alert-<%= name == :notice ? "success" : "danger" %>">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= msg %></strong>
  </div>
<% end %>